@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#2f363e;
}

.container{
    position: relative;
    background: #2f363e;
   
    border-radius: 10%;
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.75),
    10px 10px 70px rgba(0, 0,0, 0.75),
    inset 5px 5px 10px rgba(0, 0,0, 0.5),
    inset 5px 5px 20px rgba(255, 255,255, 0.2),
    inset -5px -5px 15px rgba(0, 0,0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.clock{
    position: relative;
    width: 450px;
    height: 450px;
    background: #2f363e;
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(0, 0,0, 0.75),
    10px 10px 70px rgba(0, 0,0, 0.75),
    inset 5px 5px 10px rgba(0, 0,0, 0.5),
    inset 5px 5px 20px rgba(0, 0,0, 0.2),
    inset -5px -5px 15px rgba(0, 0,0, 0.75);
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.clock::before{
    content: '';
    position:absolute;
    width: 8px;
    height:8px;
    background:#2f363e;
    border:3px solid #fff;
    border-radius: 50%;
    z-index: 10000;
}

.clock span{
    position: absolute;
    inset: 20px;
    color: white;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));

}

.clock span b{
    font-size: 2em;
    font-weight: 600;
    opacity: 20%;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));


}

.circle{
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid rgba(0, 0,0, 0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;

}
.circle i{
    position: absolute;
    width: 5px;
    height: 50%;
    background: var(--clr);
    opacity:0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
    border-radius: 6px 6px 0 0;
    
}
.circle:nth-child(1) i{
    width: 2px;

}
.circle:nth-child(2) i{
    width: 6px;

}
.circle1{
    
    width: 240px;
    height: 240px;
    z-index: 9;

}
.circle2{
  
    width: 180px;
    height: 180px;
    z-index: 8;
}

.circle::before{
    content: '';
    position: absolute;
    top: -8px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--clr);
    
    box-shadow: 0 0 25px var(--clr),
    0 0 65px var(--clr);
}

/* style for digital clock*/

#time{
    margin-bottom: 40px;
    display: flex;
    font-size:2em ;
    font-weight: 600;
    padding: 10px 20px;
    border: 3px solid rgba(0, 0,0, 0.5);
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0,0, 0.5),
    inset 5px 5px 25px rgba(255, 255,255, 0.2),
    inset -5px -10px 15px rgba(0, 0,0, 0.5);
}

#time div{
    position: relative;
    text-align: center;
    width: 60px;
    font-weight: 500;
    color: var(--clr);
}

#time div:nth-child(1)::after,
#time div:nth-child(2)::after{
    content: ':';
    position: absolute;
    right:-4px;
    top: -2px;
}

#time div:last-child{
    font-size: 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

#time div:nth-child(2)::after{
    animation: animate 1s steps(1) infinite;
}

@keyframes animate{
    0%
    {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
     
}